html,
body,
#viewDiv {
    font-family: Avenir Next W00;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.action {
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

#anonymousPanel {
    display: block;
    position: relative;
    top: 40%;
    width: 25%;
    margin: 0 auto;
    padding: 20px; 
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: white;
}

#personalizedPanel {
    display: none;
    padding: 5px; 
    text-align: center;
    background-color: black;
    color: white;
}